# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# production
/dist
/.vscode
/config/deploy

# Coverage directory used by tools like istanbul
coverage

/coverage
.idea
yarn.lock
package-lock.json
*bak
.vscode

# visual studio code
.history
*.log

functions/mock
.temp/**

# node-waf configuration
.lock-wscript

# screenshot
screenshot
.firebase
