<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DDN Wallet</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- <script type="text/javascript" src="./ddn.browserify.js"></script> -->
  <script type="text/javascript" src="./ddn.min.js"></script>
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>

<body>
  <div id="root"></div>
</body>
<script>
  // DdnJS.init('0ab796cd', 'testnet')
  window.DdnJS.options.set('nethash', '0ab796cd')
  window.DdnJS.constants = {}
  window.DdnJS.constants.tokenPrefix = "D"
  window.DdnJS.constants.tokenName = "DDN"
  window.DdnJS.constants.nethash = "0ab796cd"

</script>

</html>