<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DDN Wallet</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script type="text/javascript" src="./ddn.mainnet.min.js"></script>
  <!-- <script type="text/javascript" src="./ddn-js-sdk-v3.6.1.js"></script> -->
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
<script>
  // 主网配置
 window.DdnJS.options.set('nethash', 'b11fa2f2')
  window.DdnJS.constants = {}
  window.DdnJS.constants.tokenPrefix = "D"
  window.DdnJS.constants.tokenName = "DDN"
  window.DdnJS.constants.nethash = "b11fa2f2"

 
</script>
</html>
