<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DDN Wallet</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <!-- <script type="text/javascript" src="./ddn.mainnet.min.js"></script> -->
  <!-- <script type="text/javascript" src="./ddn-js-sdk-v3.6.1.js"></script> -->
  <script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.data-set-0.9.6/dist/data-set.min.js"></script>
  <script>
    // 主网配置
    window.DdnJS = window.DdnJS || {};
    // window.DdnJS.config = {
    //   net: 'testnet', // testnet 测试网，mainnet 主网
    //   nethash: '0ab796cd', //'0ab796cd',
    //   publicIp: '127.0.0.1', //主网节点：49.4.23.71
    //   port: '8001' //主网端口：8000
    // }
    window.DdnJS.config = {
      net: 'mainnet', // testnet 测试网，mainnet 主网
      nethash: 'm66gcvle',
      // publicIp: '49.4.23.71', //主网节点：49.4.23.71
      // port: '8000' //主网端口：8000
    }

  </script>
</head>

<body>
  <div id="root"></div>
</body>


</html>