.multiPage {
  padding: 24px;
  
  .keysgroup {
    max-width: 300px;
    
    :global {
      .ant-tag {
        margin-bottom: 8px;
      }
    }
  }
  
  .keysgroupInput {
    display: flex;
    margin-bottom: 16px;
    
    :global {
      .ant-input {
        margin-right: 8px;
      }
    }
  }
  
  .keysgroupList {
    margin-bottom: 16px;
    
    :global {
      .ant-tag {
        margin-bottom: 8px;
      }
    }
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }
}
